src/__pycache__
src/datasets/__pycache__
src/dataverse/__pycache__

.upload_records/
datasets/BuildingElectricity/raw
datasets/WindFarm/raw
datasets/GenerationScheduling/raw
datasets/UberMovement/raw
datasets/ClimART/raw
datasets/ClimateDownscaling/raw
datasets/OpenCatalyst/raw
datasets/Polianna/raw

