src/__pycache__
src/process/__pycache__

src/selberai

.upload_records/
datasets/*/raw
datasets/*/processed
datasets/*/notebooks.ipynb
datasets/*/.ipynb_checkpoints

notebooks/.ipynb_checkpoints
notebooks/

